<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.fernandocejas.android10.rx.sample"
    xmlns:android="http://schemas.android.com/apk/res/android">

  <application
      android:allowBackup="true"
      android:icon="@drawable/ic_launcher"
      android:label="@string/app_name"
      android:theme="@style/AppTheme">
    <activity
        android:name=".activity.MainActivity"
        android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
        android:name=".activity.ActivitySubscriberSample"
        android:label="@string/app_sample_observer" />

    <activity
        android:name=".activity.ActivityObservableCompositionSamples"
        android:label="@string/app_sample_observable_composition" />

    <activity
        android:name=".activity.backpressure.ActivityBackpressureSamples"
        android:label="@string/app_sample_backpressure" />

    <activity
        android:name=".activity.ActivityObservableConcatVsFlatMapSample"
        android:label="@string/app_sample_observable_composition_concat_vs_flat_map" />

  </application>

</manifest>
